pkgbase = font-dummy
	pkgdesc = Dummy font provider
	pkgver = 2
	pkgrel = 1
	arch = any
	provides = adobe-source-code-pro-fonts
	provides = cantarell-fonts
	provides = otf-fira-mono
	provides = otf-fira-sans
	provides = ttf-font

pkgname = font-dummy
